<section id="bloque-rsvp" class="bloque">
  <div class="rsvp-overlay">
    <form id="form-rsvp">
      <h3>¡Confírmanos tu asistencia!</h3>
      <h4>Nos encantaría contar tu presencia</h4>
      <label
        >Familia
        <input type="text" id="rsvp-familia" maxlength="60" required />
      </label>
      <label
        >¿Cuántos asisten?
        <input type="number" id="rsvp-cantidad" min="1" max="30" required />
      </label>
      <button type="submit" id="rsvp-boton">Confirmar por WhatsApp</button>
    </form>
  </div>
</section>
