<section id="bloque-ubicacion" class="bloque">
  <div class="ubicacion-overlay">
    <div class="ubicacion-lugar">
      <img data-field="templo.foto" class="ubicacion-foto" alt="" />
      <a
        data-field="templo.url"
        target="_blank"
        rel="noopener"
        class="ubicacion-link"
        >Ver mapa</a
      >
    </div>
    <div class="ubicacion-lugar">
      <img data-field="salon.foto" class="ubicacion-foto" alt="" />
      <a
        data-field="salon.url"
        target="_blank"
        rel="noopener"
        class="ubicacion-link"
        >Ver mapa</a
      >
    </div>
  </div>
</section>
