<section id="bloque-ubicacion" class="bloque bloque-ubicacion">
  <div class="ubicacion-lugar">
    <img data-field="salon.foto" class="ubicacion-foto" alt="">
    <h3 data-field="salon.nombre" class="ubicacion-nombre"></h3>
    <a data-field="salon.url" target="_blank" rel="noopener" class="ubicacion-link">Ver mapa</a>
  </div>
  <div class="ubicacion-lugar">
    <img data-field="templo.foto" class="ubicacion-foto" alt="">
    <h3 data-field="templo.nombre" class="ubicacion-nombre"></h3>
    <a data-field="templo.url" target="_blank" rel="noopener" class="ubicacion-link">Ver mapa</a>
  </div>
</section>
